* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rec.rec-pagination {
    grid-area: 6 / 3 / 7 / 4;
}

.rec.rec-carousel-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.rec.rec-carousel {
    grid-area: 1 / 1 / 7 / 6;
}

.rec.rec-pagination {
    grid-area: 6 / 3 / 7 / 4;
    z-index: 99;
}

.rec.rec-slider-container {
    margin: 0;
}

.rec.rec-dot {
    background-color: #7999EF;
    height: 20px;
    width: 20px;
}
.rec.rec-dot:hover {
    box-shadow: none;
}

.rec.rec-dot_active {
    background-color: #163791;
    box-shadow: 0 0 1px 3px #0c225e;
}

.rec.rec-dot_active:hover,
.rec.rec-dot_active:focus {
    box-shadow: none;
}

.active_bg {
    background-color: #163791 !important;
    color: white !important;
}